/* Breakpoints */
$screen-types: ('mobile', 'tablet', 'desktop');
$breakpoint-mobile: 320px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoints: (
  'mobile': $breakpoint-mobile,
  'tablet': $breakpoint-tablet,
  'desktop': $breakpoint-desktop,
);

/* Sizes */
$sizes-img: (
  'mobile': 60px,
  'tablet': 70px,
  'desktop': 80px,
);
$sizes-button: (
  'mobile': 20px,
  'tablet': 30px,
  'desktop': 40px,
);
$radius-card: 10px;
$padding-main: 3%;
$gutter-card: 30px;
$gutter-txt: 3px;
$paddings-card: (
  'mobile': 3px,
  'tablet': 7px,
  'desktop': 10px,
);
$widths-modal: (
  'mobile': 80%,
  'tablet': 60%,
  'desktop': 40%,
);
$heights-modal: (
  'mobile': 95%,
  'tablet': 85%,
  'desktop': 75%,
);
$paddings-modal: (
  'mobile': 15px 5px,
  'tablet': 20px 10px,
  'desktop': 30px 20px,
);
$offsets-horizontal-button: (
  'mobile': 0,
  'tablet': 5%,
  'desktop': 10%,
);
$paddings-header: (
  'mobile': 5px,
  'tablet': 15px,
  'desktop': 25px,
);
$widths-searchbox: (
  'mobile': 80%,
  'tablet': 70%,
  'desktop': 60%,
);
$height-searchbox: 35px;
$padding-searchbox: 5px;

/* Colors */
$color-bg-darker: rgb(155, 155, 155);
$color-bg-medium: rgb(205, 205, 205);
$color-bg-lighter: rgb(235, 235, 235);
$color-txt-darker: black;
$color-txt-lighter: rgb(75, 75, 75);

/* Fonts */
$font-family-primary: 'Merriweather', serif;
$font-family-secondary: 'Roboto', sans-serif;
$fonts-size-lg: (
  'mobile': 15px,
  'tablet': 16px,
  'desktop': 17px,
);
$fonts-size-md: (
  'mobile': 12px,
  'tablet': 13px,
  'desktop': 14px,
);
$fonts-size-sm: (
  'mobile': 7px,
  'tablet': 8px,
  'desktop': 9px,
);

/* Animation */
$transition-time: 0.25s;

/* Derived */
$card-columns: ();
@each $screen, $img-size in $sizes-img {
  $card-columns: map-merge($card-columns, ($screen: $img-size calc(100% - #{$img-size + $gutter-txt})));
}
$card-rows: ();
@each $screen, $font-size in $fonts-size-sm {
  $card-rows: map-merge($card-rows, ($screen: auto $font-size + $gutter-txt * 2 auto));}
$tops-modal: ();
@each $screen, $height in $heights-modal {
  $tops-modal: map-merge($tops-modal, ($screen: calc(50% - #{$height / 2})));
}
$offsets-vertical-button: ();
@each $screen, $size in $sizes-button {
  $offsets-vertical-button: map-merge($offsets-vertical-button, ($screen: calc(50% - #{$size / 2})));
}
$lefts-overlay: ();
@each $screen, $size in $widths-modal {
  $lefts-overlay: map-merge($lefts-overlay, ($screen: calc(50% - #{$size / 2})));
}
$half-fonts-lg: ();
@each $screen, $size in $fonts-size-lg {
  $half-fonts-lg: map-merge($half-fonts-lg, ($screen: $size / 2));
}
