.alert {
  @include element("slide") {
    @include flex($dir: row, $just: space-between, $align-coaxis: center);
    font-size: $font-size-md;
    font-weight: normal;
    font-family: $font-family-primary;
    @include allmedia("width", $widths-alert-slide);
    margin-left: auto;
    margin-right: auto;
    margin-top: $gutter-alert-slide;
    margin-bottom: $gutter-alert-slide / 2;
    text-align: left;
    color: $color-txt-primary;
    background-color: $color-bg-primary-lighter;
    border-radius: $radius-lg;
    padding: $padding-alert-slide / 4 $padding-alert-slide;
    p {
      width: 100%;
      display: inline-block;
      strong {
        margin-right: $padding-alert-slide / 2;
      }
    }
    .button--close {
      margin-left: $padding-alert-slide;
    }
  }
  @include element("container") {
    font-family: $font-family-secondary;
    font-size: $font-size-sm;
    width: $width-alert;
    position: absolute;
    top: $icon-size + 10px;
    left: - $width-alert / 4;
    @include media("tablet") {
      top: $icon-size + 10px;
      left: - $width-alert / 2;
    }
    padding: $padding-alert-slide;
    @include flex($dir: column, $just: flex-start, $align-coaxis: center);
    display: none;
    border-radius: $radius-lg;
    background-color: darken($color-bg-primary-darker, 5%);
    border: 2px solid darken($color-bg-primary-darker, 25%);
    color: $color-txt-primary;
    z-index: 2;
  }
  @include element("message") {
    display: inline-block;
    font-family: $font-family-secondary;
    font-size: $font-size-sm;
  }
  @include element("wrapper") {
    width: 100%;
    @include flex($dir: row, $just: space-between, $align-coaxis: center);
  }
}

.message {
  @include modifier("confirmation") {
    @extend %submit-hint;
    background-color: $color-scale-selected;
  }
  @include modifier("error") {
    @extend %submit-hint;
    background-color: lighten(red, 15%);
  }
}
