header {
  width: auto;
  @include allmedia("padding", $paddings-header);
  @include flex($dir: column, $just: center, $align-coaxis: center);
  background-color: lighten($color-bg-lighter, 10%);
}

.header__page {
  display: inline-block;
  font-family: $font-family-secondary;
}

.searchbox {
  display: inline-block;
  height: $height-searchbox;
  @include allmedia("width", $widths-searchbox);
  border-radius: $padding-searchbox;
  padding: $padding-searchbox;
  border: 2px solid lighten($color-txt-darker, 50%);
  font-family: $font-family-primary;
  @include allmedia("font-size", $fonts-size-md);
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
  background-position: right 0 bottom 50%;
  &:focus {
    outline: none;
  }
}
