.icon {
  @include element("alert") {
    @extend %icon;
    fill: $color-txt-primary;
    cursor: pointer;
    transition: fill $transition-time * 5 linear;
    &:hover {
      fill: lighten(red, 25%);
      animation: rotation-lg $transition-time * 3 linear infinite;
    }
    &-container {
      overflow: visible;
      position: relative;
      align-self: center;
      .dot {
        @include modifier("green") {
          @extend %dot;
          background-color: $color-scale-selected;
        }
        @include modifier("red") {
          @extend %dot;
          background-color: lighten(red, 25%);
        }
      }
    }
  }
  @include element("nav") {
    @extend %icon;
    cursor: pointer;
  }
  @include element("social") {
    width: $social-size;
    height: $social-size;
    fill: $color-txt-primary;
    &-container {
      @include flex($dir: row, $just: center, $align-coaxis: center)
      width: $social-container-size;
      height: $social-container-size;
      grid-area: icon-social;
      background-color: $color-bg-primary-lighter;
      border-radius: 50%;
      transition: background-color $transition-time linear;
    }
  }
}

@keyframes rotation-lg {
	0% {
		transform: rotate(45deg);
	}
	10% {
		transform: rotate(-45deg);
	}
	20% {
		transform: rotate(30deg);
	}
	30% {
		transform: rotate(-30deg);
	}
	40% {
		transform: rotate(20deg);
	}
	50% {
		transform: rotate(-20deg);
	}
	70% {
		transform: rotate(10deg);
	}
	90% {
		transform: rotate(-10deg);
	}
	90% {
		transform: rotate(0deg);
	}
}
