.profile {
  @include element("self") {
    @include flex($align-coaxis: center);
    cursor: pointer;
    grid-area: profile-self;
    height: $img-size;
    &:hover .profile__image {
      animation: rotation-sm $transition-time * 3 linear infinite;
    }
  }
  @include element("image") {
    height: $img-size;
    width: $img-size;
    border: 1px solid $color-profile-border;
    border-radius: 50%;
  }
  @include element("name") {
    display: inline-block;
    color: $color-txt-primary;
    font-size: $font-size-md;
  }
  @include element("member") {
    width: $img-size;
    height: $img-size;
    border-radius: 50%;
    grid-area: profile;
  }
}

@keyframes rotation-sm {
	0% {
		transform: rotate(30deg);
	}
	10% {
		transform: rotate(-30deg);
	}
	20% {
		transform: rotate(20deg);
	}
	30% {
		transform: rotate(-20deg);
	}
	40% {
		transform: rotate(10deg);
	}
	50% {
		transform: rotate(-10deg);
	}
	70% {
		transform: rotate(5deg);
	}
	90% {
		transform: rotate(-5deg);
	}
	90% {
		transform: rotate(0deg);
	}
}
