.member {
  @include modifier("list") {
    padding-left: 0;
    @include flex($dir: column, $just: center, $align-coaxis: left);
  }
  @include modifier("wrapper") {
    list-style: none;
    margin-bottom: $gutter-member;
  }
  @include modifier("email") {
    grid-area: email;
    font-size: $font-size-sm;
    @include media("tablet") {
      font-size: $font-size-md;
    }
  }
  @include modifier("date") {
    grid-area: date;
    font-size: $font-size-sm;
    text-align: right;
    margin-right: 7px;
    @include media("tablet") {
      font-size: $font-size-md;
      margin-right: auto;
    }
  }
  @include modifier("activity") {
    grid-area: activity;
    &-time {
      grid-area: time;
    }
    &-goto {
      grid-area: goto;
      width: 20px;
      height: 20px;
      @include media("tablet") {
        width: 30px;
        height: 30px;
      }
      fill: $color-bg-primary-lighter;
      cursor: pointer;
      transition: fill $transition-time linear,
                  transform $transition-time linear;
      &:hover {
        fill: $color-bg-primary-darker;
        transform: scale(1.2);
      }
    }
  }
}

.section {
  width: 100%;
  @include flex($dir: column, $just: center);
  @include allmedia("padding", $padding-section);
  &:not(:first-of-type) {
    border-top: 1px solid $color-grid;
  }
  @include grid($rows: $height-section-header auto, $columns: 100%);
}

#section {
  &-traffic {
    grid-area: traffic;
    .header__section {
      @include flex($dir: row, $just: space-between, $align-coaxis: center);
      .header__sectiontitle {
        margin-right: auto;
      }
      .scale--option {
        cursor: pointer;
        @include allmedia("padding", $paddings-scale);
        @include allmedia("border-radius", $radius-scale);
        text-align: center;
        vertical-align: middle;
        transition-property: color, background-color, font-weight;
        transition-timing-function: linear;
        transition-duration: $transition-time;
        font-family: $font-family-secondary;
        font-size: $font-size-sm;
        font-weight: normal;
        @include media("tablet") {
          font-size: $font-size-md;
          font-weight: 450;
        }
      }
      .scale--selected {
        font-weight: 550;
        color: $color-txt-primary;
        background-color: $color-scale-selected;
      }
      canvas {
        max-width: 100%;
        overflow: hidden;
      }
    }
  }
  &-daily-traffic {
    grid-area: daily-traffic;
    @include media("tablet") {
      border-right: 1px solid $color-grid;
    }
  }
  &-mobile-users {
    grid-area: mobile-users;
  }
  &-social-stats {
    grid-area: social-stats;
  }
  &-new-members {
    grid-area: new-members;
    @include media("tablet") {
      border-right: 1px solid $color-grid;
    }
    .member--wrapper {
      @include grid($layout: "profile member-name date"
                             "profile email email", $align: center,
                    $columns: $img-size + $gutter-social-card / 2 auto auto,
                    $rows: 20px auto);
      @include media("tablet") {
        @include grid($layout: "profile member-name date"
                               "profile email email", $align: center,
                      $columns: $img-size + $gutter-social-card auto 75px,
                      $rows: 25px 25px);
      }
    }
  }
  &-recent-activity {
    grid-area: recent-activity;
    .member--wrapper {
      @include grid($layout: "profile activity goto"
                             "profile time goto", $align: center,
                    $columns: $img-size + $gutter-social-card auto 20px,
                    $rows: 45px 25px);
      @include media("tablet") {
        @include grid($layout: "profile activity goto"
                               "profile time goto", $align: center,
                      $columns: $img-size + $gutter-social-card auto 40px,
                      $rows: 25px 25px);
      }
    }
  }
  &-message-user {
    grid-area: message-user;
    min-height: 300px;
    @include media("tablet") {
      border-right: 1px solid $color-grid;
    }
    form {
      position: relative;
    }
  }
  &-settings {
    grid-area: settings;
    form {
      @include flex($dir: column, $just: center);
    }
  }
}

.wrapper__social {
  @include flex($dir: row, $just: center, $align-coaxis: center, $wrap: wrap);
  @include media("tablet") {
    @include flex($dir: row, $just: space-between, $align-coaxis: center, $wrap: wrap);
  }
  width: 100%;
}

.data--social {
  grid-area: data-social;
  text-align: center;
  font-family: $font-family-secondary;
  margin-top: $gutter-social-card / 4;
  font-size: $font-size-md;
  @include media("tablet") {
    font-size: $font-size-lg;
  }
}

.card--social {
  background-color: $color-bg-secondary;
  max-width: $width-social-card * 0.75;
  @include media("tablet") {
    max-width: $width-social-card;
  }
  border: 1px solid $color-grid;
  border-radius: $radius-lg;
  margin-bottom: $gutter-social-card;
  margin-right: $gutter-social-card;
  margin-left: $gutter-social-card;
  flex-grow: 1;
  @include grid($layout: "icon-social header-social"
                         "icon-social data-social", $align: center,
                $columns: 66% 33%);
  padding-left: $padding-social-card-horizontal;
  padding-right: $padding-social-card-horizontal;
  transition-property: background-color, box-shadow;
  transition-duration: $transition-time;
  transition-timing-function: linear;
  &:hover {
    background-color: darken($color-bg-secondary, 15%);
    box-shadow: 0 0 0 3px darken($color-grid, 45%);
    .icon__social-container {
      background-color: $color-bg-primary-darker;
    }
  }
}

.settings {
  @include modifier("description") {
    display: inline-block;
    width: 185px;
    @include media("tablet") {
      width: 250px;
    }
    font-family: $font-family-secondary;
    font-size: $font-size-md;
    height: auto;
  }
  @include modifier("form") {
    margin-top: 30px;
  }
  @include modifier("toggle") {
    display: block;
    cursor: pointer;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: darken(grey, 10%);
    width: $width-toggle;
    height: $height-toggle;
    outline: none;
    border-radius: $height-toggle / 2;
    transition-property: background-color;
    transition-duration: $transition-time;
    transition-timing-function: linear;
    position: relative;
    &::before {
      content: "OFF";
      color: $color-txt-primary;
      font-size: $font-size-md;
      position: absolute;
      transition: right $transition-time linear;
      right: ($width-toggle - 30px) / 2;
      top: ($height-toggle - $font-size-md) / 2;
      vertical-align: middle;
    }
    &::after {
      content: "";
      width: $size-toggle;
      height: $size-toggle;
      border-radius: 50%;
      background: white;
      position: absolute;
      transition-property: left;
      transition-duration: $transition-time / 2;
      transition-timing-function: linear;
      left: $gutter-toggle;
      top: $gutter-toggle;
    }
    &:checked {
      background-color: darken($color-bg-primary-lighter, 10%);
      &::before {
        right: ($width-toggle - 26px) / 2;
        top: ($height-toggle - $font-size-md) / 2;
        content: "ON";
      }
      &::after {
        left: $gutter-toggle + $width-toggle - $height-toggle;
      }
    }
  }
  @include modifier("time-zone") {
    align-self: center;
    display: block;
    width: 80%;
    @include media("tablet") {
      width: 100%;
    }
    height: 50px;
    margin-top: 10px;
    margin-bottom: 30px;
    font-family: $font-family-secondary;
    font-size: $font-size-sm;
    border-radius: $radius-md;
    transition-property: font-size, box-shadow, color;
    transition-duration: $transition-time / 4, $transition-time;
    transition-timing-function: linear;
    border: 1px solid $color-grid;
    &:focus {
      font-size: $font-size-sm + 1px;
      outline: none;
      border: 1px solid $color-bg-primary-lighter;
      box-shadow: 0 0 1px 1px $color-bg-primary-lighter;
    }
  }
}

.wrapper__button {
  @include flex($dir: row, $just: space-between, $align-coaxis: center);
}

.message {
  @extend %message;
  resize: none;
  margin-top: 10px;
  height: 130px;
  @include modifier("search") {
    @extend %message;
    height: 40px;
  }
}

#message--send {
  position: absolute;
  bottom: 0;
}

.wrapper {
  @include element("email") {
    height: 35px;
    @include flex($dir: row, $align-coaxis: center);
  }
  @include element("privacy") {
    height: 55px;
    @include flex($dir: row, $align-coaxis: center);
  }
}

#users-container {
  width: 100%;
  @include flex($dir: column, $just: flex-start, $align-coaxis: center);
  z-index: 1;
  position: absolute;
  top: 40px;
  .autocomplete-item {
    display: block;
    width: 100%;
    font-family: $font-family-secondary;
    font-size: $font-size-sm;
    padding: 15px 2px;
    margin: 3px 0;
    cursor: pointer;
    transition-duration: $transition-time;
    transition-timing-function: linear;
    &:hover {
      background-color: $color-bg-primary-lighter;
    }
  }
}

.users-container-nonempty {
  color: $color-txt-primary;
  border: 1px solid $color-bg-primary-darker;
  border-radius: $radius-md;
  background-color: lighten($color-bg-primary-lighter, 15%);
  transition-duration: $transition-time;
  transition-timing-function: linear;
  &:hover {
    border: 1px solid darken($color-bg-primary-darker, 15%);
    box-shadow: 0 0 1px 2px lighten($color-bg-primary-lighter, 25%);
  }
}

.chart {
  max-width: 95%;
  @include media("tablet") {
    max-width: 100%;
  }
}
